:root {
  --primary-color: #fff;
  --bg-color: F7F7F7;
  --extra-bg-color: #191c26;
  --acent-color: #ff6c00;
  --primary-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --extra-text-color: #303030;
  --primary-font-family: Open Sans;
  --secondary-font-family: Raleway;
  --primary-font-size: 18px;
  --secondary-font-size: 14px;
  --extra-font-size: 12px;
  --optional-font-size: 11px;
  --secondary-letter-spacing: 0.05em;
  --extra-letter-spacing: 0.01em;
  --secondary-font-weight: 600;
  --extra-font-weight: 700;
  --primary-line-height: 1.33;
}

body {
  font-family: "Open Sans", Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400px;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* Стилизация шапки страницы */
.header {
  background-color: grey;
}

.nav-list {
}

.nav-list-link {
  font-size: var(--extra-font-size);
  letter-spacing: var(--extra-letter-spacing);
  line-height: var(--primary-line-height);
  color: var(--primary-color);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--acent-color);
}

.header-contact {
  font-size: var(--extra-font-size);
  font-weight: var(--secondary-font-weight);
  letter-spacing: var(--extra-letter-spacing);
  line-height: var(--primary-line-height);
  color: var(--primary-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--acent-color);
}

.header-btn {
  font-family: var(--primary-font-family);
  font-weight: var(--secondary-font-weight);
  font-size: var(--extra-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: transparent;
}
.header-btn:hover,
.header-btn:focus {
  font-weight: var(--extra-font-weight);
  color: var(--acent-color);
}
